In [32]:

import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

In [33]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'useducation'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

useducation_df = pd.read_sql_query('select * from useducation',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

In [34]:
useducation_df2 = useducation_df
useducation_df3 = useducation_df
useducation_df4 = useducation_df

## Q 1

In [35]:
useducation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
PRIMARY_KEY                     1492 non-null object
STATE                           1492 non-null object
YEAR                            1492 non-null int64
ENROLL                          1229 non-null float64
TOTAL_REVENUE                   1280 non-null float64
FEDERAL_REVENUE                 1280 non-null float64
STATE_REVENUE                   1280 non-null float64
LOCAL_REVENUE                   1280 non-null float64
TOTAL_EXPENDITURE               1280 non-null float64
INSTRUCTION_EXPENDITURE         1280 non-null float64
SUPPORT_SERVICES_EXPENDITURE    1280 non-null float64
OTHER_EXPENDITURE               1229 non-null float64
CAPITAL_OUTLAY_EXPENDITURE      1280 non-null float64
GRADES_PK_G                     1319 non-null float64
GRADES_KG_G                     1360 non-null float64
GRADES_4_G                      1361 non-null float64
GRADES_8_G                      1361 non-null float64
GRADES_12_G                     1361 non-null float64
GRADES_1_8_G                    1361 non-null float64
GRADES_9_12_G                   1361 non-null float64
GRADES_ALL_G                    1319 non-null float64
AVG_MATH_4_SCORE                536 non-null float64
AVG_MATH_8_SCORE                532 non-null float64
AVG_READING_4_SCORE             533 non-null float64
AVG_READING_8_SCORE             498 non-null float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

Data types are float, integer, and object.

## Q 2

In [36]:
useducation_df2.isnull().sum()*100/useducation_df2.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                   14.209115
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

In [37]:
for i in range(0, len(useducation_df2.TOTAL_REVENUE)):
    if pd.isnull(useducation_df2.TOTAL_REVENUE[i]):
        useducation_df2.TOTAL_REVENUE[i] = useducation_df2.TOTAL_REVENUE.mean()

In [38]:
useducation_df2.isnull().sum()*100/useducation_df2.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                    0.000000
FEDERAL_REVENUE                 14.209115
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

In [39]:
def replace_w_avg(DFCOL):
    for i in range(0, len(DFCOL)):
        if pd.isnull(DFCOL[i]):
            DFCOL[i] = DFCOL.mean()

In [40]:
replace_w_avg(useducation_df2.FEDERAL_REVENUE)

In [41]:
useducation_df2.isnull().sum()*100/useducation_df2.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                    0.000000
FEDERAL_REVENUE                  0.000000
STATE_REVENUE                   14.209115
LOCAL_REVENUE                   14.209115
TOTAL_EXPENDITURE               14.209115
INSTRUCTION_EXPENDITURE         14.209115
SUPPORT_SERVICES_EXPENDITURE    14.209115
OTHER_EXPENDITURE               17.627346
CAPITAL_OUTLAY_EXPENDITURE      14.209115
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                64.075067
AVG_MATH_8_SCORE                64.343164
AVG_READING_4_SCORE             64.276139
AVG_READING_8_SCORE             66.621984
dtype: float64

In [42]:
replace_w_avg(useducation_df2.STATE_REVENUE)
replace_w_avg(useducation_df2.LOCAL_REVENUE)
replace_w_avg(useducation_df2.TOTAL_EXPENDITURE)
replace_w_avg(useducation_df2.INSTRUCTION_EXPENDITURE)
replace_w_avg(useducation_df2.SUPPORT_SERVICES_EXPENDITURE)
replace_w_avg(useducation_df2.OTHER_EXPENDITURE)
replace_w_avg(useducation_df2.CAPITAL_OUTLAY_EXPENDITURE)
replace_w_avg(useducation_df2.AVG_MATH_4_SCORE)
replace_w_avg(useducation_df2.AVG_MATH_8_SCORE)
replace_w_avg(useducation_df2.AVG_READING_4_SCORE)
replace_w_avg(useducation_df2.AVG_READING_8_SCORE)

In [43]:
useducation_df2.isnull().sum()*100/useducation_df2.isnull().count()

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          17.627346
TOTAL_REVENUE                    0.000000
FEDERAL_REVENUE                  0.000000
STATE_REVENUE                    0.000000
LOCAL_REVENUE                    0.000000
TOTAL_EXPENDITURE                0.000000
INSTRUCTION_EXPENDITURE          0.000000
SUPPORT_SERVICES_EXPENDITURE     0.000000
OTHER_EXPENDITURE                0.000000
CAPITAL_OUTLAY_EXPENDITURE       0.000000
GRADES_PK_G                     11.595174
GRADES_KG_G                      8.847185
GRADES_4_G                       8.780161
GRADES_8_G                       8.780161
GRADES_12_G                      8.780161
GRADES_1_8_G                     8.780161
GRADES_9_12_G                    8.780161
GRADES_ALL_G                    11.595174
AVG_MATH_4_SCORE                 0.000000
AVG_MATH_8_SCORE                 0.000000
AVG_READING_4_SCORE              0.000000
AVG_READING_8_SCORE              0.000000
dtype: float64

## Q 3

In [52]:
fill_list = ["ENROLL", "TOTAL_REVENUE", "FEDERAL_REVENUE", 
             "STATE_REVENUE", "LOCAL_REVENUE", "TOTAL_EXPENDITURE", 
             "INSTRUCTION_EXPENDITURE", "SUPPORT_SERVICES_EXPENDITURE",
             "OTHER_EXPENDITURE", "CAPITAL_OUTLAY_EXPENDITURE", "GRADES_PK_G", 
             "GRADES_KG_G", "GRADES_4_G", "GRADES_8_G", "GRADES_12_G", "GRADES_1_8_G", 
             "GRADES_9_12_G", "GRADES_ALL_G"]

In [54]:


years = useducation_df3["YEAR"].unique()

for col in fill_list:
    for year in years:
        useducation_df3.loc[useducation_df3["YEAR"] == year, col].fillna(
            useducation_df3[useducation_df3["YEAR"] == year][col].mean(), inplace=True)

## Q 4

In [55]:
for col in fill_list:
    useducation_df4.loc[:, col].interpolate(inplace=True)

## Q 5

In [56]:
for col in fill_list:
    print("Statistics for columns: {}".format(col))
    print(pd.concat([useducation_df[col], useducation_df2[col],
                     useducation_df3[col], useducation_df4[col]], axis=1).describe())

Statistics for columns: ENROLL
             ENROLL        ENROLL        ENROLL        ENROLL
count  1.456000e+03  1.456000e+03  1.456000e+03  1.456000e+03
mean   1.005984e+06  1.005984e+06  1.005984e+06  1.005984e+06
std    1.009158e+06  1.009158e+06  1.009158e+06  1.009158e+06
min    4.386600e+04  4.386600e+04  4.386600e+04  4.386600e+04
25%    2.973995e+05  2.973995e+05  2.973995e+05  2.973995e+05
50%    7.540845e+05  7.540845e+05  7.540845e+05  7.540845e+05
75%    1.595024e+06  1.595024e+06  1.595024e+06  1.595024e+06
max    6.307022e+06  6.307022e+06  6.307022e+06  6.307022e+06
Statistics for columns: TOTAL_REVENUE
       TOTAL_REVENUE  TOTAL_REVENUE  TOTAL_REVENUE  TOTAL_REVENUE
count   1.492000e+03   1.492000e+03   1.492000e+03   1.492000e+03
mean    9.092082e+06   9.092082e+06   9.092082e+06   9.092082e+06
std     1.087818e+07   1.087818e+07   1.087818e+07   1.087818e+07
min     4.656500e+05   4.656500e+05   4.656500e+05   4.656500e+05
25%     2.546261e+06   2.546261e+06   2.546261e+06   2.546261e+06
50%     6.359310e+06   6.359310e+06   6.359310e+06   6.359310e+06
75%     9.276958e+06   9.276958e+06   9.276958e+06   9.276958e+06
max     8.921726e+07   8.921726e+07   8.921726e+07   8.921726e+07
Statistics for columns: FEDERAL_REVENUE
       FEDERAL_REVENUE  FEDERAL_REVENUE  FEDERAL_REVENUE  FEDERAL_REVENUE
count     1.492000e+03     1.492000e+03     1.492000e+03     1.492000e+03
mean      7.663723e+05     7.663723e+05     7.663723e+05     7.663723e+05
std       1.060702e+06     1.060702e+06     1.060702e+06     1.060702e+06
min       3.102000e+04     3.102000e+04     3.102000e+04     3.102000e+04
25%       2.170200e+05     2.170200e+05     2.170200e+05     2.170200e+05
50%       5.167410e+05     5.167410e+05     5.167410e+05     5.167410e+05
75%       7.663723e+05     7.663723e+05     7.663723e+05     7.663723e+05
max       9.990221e+06     9.990221e+06     9.990221e+06     9.990221e+06
Statistics for columns: STATE_REVENUE
       STATE_REVENUE  STATE_REVENUE  STATE_REVENUE  STATE_REVENUE
count   1.492000e+03   1.492000e+03   1.492000e+03   1.492000e+03
mean    4.216553e+06   4.216553e+06   4.216553e+06   4.216553e+06
std     5.133895e+06   5.133895e+06   5.133895e+06   5.133895e+06
min     0.000000e+00   0.000000e+00   0.000000e+00   0.000000e+00
25%     1.356434e+06   1.356434e+06   1.356434e+06   1.356434e+06
50%     3.127639e+06   3.127639e+06   3.127639e+06   3.127639e+06
75%     4.269811e+06   4.269811e+06   4.269811e+06   4.269811e+06
max     5.090457e+07   5.090457e+07   5.090457e+07   5.090457e+07
Statistics for columns: LOCAL_REVENUE
       LOCAL_REVENUE  LOCAL_REVENUE  LOCAL_REVENUE  LOCAL_REVENUE
count   1.492000e+03   1.492000e+03   1.492000e+03   1.492000e+03
mean    4.109157e+06   4.109157e+06   4.109157e+06   4.109157e+06
std     5.078230e+06   5.078230e+06   5.078230e+06   5.078230e+06
min     2.209300e+04   2.209300e+04   2.209300e+04   2.209300e+04
25%     9.447962e+05   9.447962e+05   9.447962e+05   9.447962e+05
50%     2.697257e+06   2.697257e+06   2.697257e+06   2.697257e+06
75%     4.109157e+06   4.109157e+06   4.109157e+06   4.109157e+06
max     3.610526e+07   3.610526e+07   3.610526e+07   3.610526e+07
Statistics for columns: TOTAL_EXPENDITURE
       TOTAL_EXPENDITURE  TOTAL_EXPENDITURE  TOTAL_EXPENDITURE  \
count       1.492000e+03       1.492000e+03       1.492000e+03
mean        9.196681e+06       9.196681e+06       9.196681e+06
std         1.109393e+07       1.109393e+07       1.109393e+07
min         4.816650e+05       4.816650e+05       4.816650e+05
25%         2.523968e+06       2.523968e+06       2.523968e+06
50%         6.520224e+06       6.520224e+06       6.520224e+06
75%         9.434922e+06       9.434922e+06       9.434922e+06
max         8.532013e+07       8.532013e+07       8.532013e+07

       TOTAL_EXPENDITURE
count       1.492000e+03
mean        9.196681e+06
std         1.109393e+07
min         4.816650e+05
25%         2.523968e+06
50%         6.520224e+06
75%         9.434922e+06
max         8.532013e+07
Statistics for columns: INSTRUCTION_EXPENDITURE
       INSTRUCTION_EXPENDITURE  INSTRUCTION_EXPENDITURE  \
count             1.492000e+03             1.492000e+03
mean              4.762966e+06             4.762966e+06
std               5.828468e+06             5.828468e+06
min               2.655490e+05             2.655490e+05
25%               1.343611e+06             1.343611e+06
50%               3.358142e+06             3.358142e+06
75%               4.938820e+06             4.938820e+06
max               4.396452e+07             4.396452e+07

       INSTRUCTION_EXPENDITURE  INSTRUCTION_EXPENDITURE
count             1.492000e+03             1.492000e+03
mean              4.762966e+06             4.762966e+06
std               5.828468e+06             5.828468e+06
min               2.655490e+05             2.655490e+05
25%               1.343611e+06             1.343611e+06
50%               3.358142e+06             3.358142e+06
75%               4.938820e+06             4.938820e+06
max               4.396452e+07             4.396452e+07
Statistics for columns: SUPPORT_SERVICES_EXPENDITURE
       SUPPORT_SERVICES_EXPENDITURE  SUPPORT_SERVICES_EXPENDITURE  \
count                  1.492000e+03                  1.492000e+03
mean                   2.680331e+06                  2.680331e+06
std                    3.105812e+06                  3.105812e+06
min                    1.399630e+05                  1.399630e+05
25%                    7.673688e+05                  7.673688e+05
50%                    1.913844e+06                  1.913844e+06
75%                    2.795888e+06                  2.795888e+06
max                    2.605802e+07                  2.605802e+07

       SUPPORT_SERVICES_EXPENDITURE  SUPPORT_SERVICES_EXPENDITURE
count                  1.492000e+03                  1.492000e+03
mean                   2.680331e+06                  2.680331e+06
std                    3.105812e+06                  3.105812e+06
min                    1.399630e+05                  1.399630e+05
25%                    7.673688e+05                  7.673688e+05
50%                    1.913844e+06                  1.913844e+06
75%                    2.795888e+06                  2.795888e+06
max                    2.605802e+07                  2.605802e+07
Statistics for columns: OTHER_EXPENDITURE
       OTHER_EXPENDITURE  OTHER_EXPENDITURE  OTHER_EXPENDITURE  \
count       1.492000e+03       1.492000e+03       1.492000e+03
mean        4.292046e+05       4.292046e+05       4.292046e+05
std         4.846832e+05       4.846832e+05       4.846832e+05
min         1.154100e+04       1.154100e+04       1.154100e+04
25%         1.354282e+05       1.354282e+05       1.354282e+05
50%         3.672335e+05       3.672335e+05       3.672335e+05
75%         4.568915e+05       4.568915e+05       4.568915e+05
max         3.995951e+06       3.995951e+06       3.995951e+06

       OTHER_EXPENDITURE
count       1.492000e+03
mean        4.292046e+05
std         4.846832e+05
min         1.154100e+04
25%         1.354282e+05
50%         3.672335e+05
75%         4.568915e+05
max         3.995951e+06
Statistics for columns: CAPITAL_OUTLAY_EXPENDITURE
       CAPITAL_OUTLAY_EXPENDITURE  CAPITAL_OUTLAY_EXPENDITURE  \
count                1.492000e+03                1.492000e+03
mean                 9.027693e+05                9.027693e+05
std                  1.229564e+06                1.229564e+06
min                  1.270800e+04                1.270800e+04
25%                  2.163398e+05                2.163398e+05
50%                  6.482175e+05                6.482175e+05
75%                  9.027693e+05                9.027693e+05
max                  1.022366e+07                1.022366e+07

       CAPITAL_OUTLAY_EXPENDITURE  CAPITAL_OUTLAY_EXPENDITURE
count                1.492000e+03                1.492000e+03
mean                 9.027693e+05                9.027693e+05
std                  1.229564e+06                1.229564e+06
min                  1.270800e+04                1.270800e+04
25%                  2.163398e+05                2.163398e+05
50%                  6.482175e+05                6.482175e+05
75%                  9.027693e+05                9.027693e+05
max                  1.022366e+07                1.022366e+07
Statistics for columns: GRADES_PK_G
         GRADES_PK_G    GRADES_PK_G    GRADES_PK_G    GRADES_PK_G
count    1492.000000    1492.000000    1492.000000    1492.000000
mean    15926.059316   15926.059316   15926.059316   15926.059316
std     28669.479212   28669.479212   28669.479212   28669.479212
min         0.000000       0.000000       0.000000       0.000000
25%      1544.000000    1544.000000    1544.000000    1544.000000
50%      5910.500000    5910.500000    5910.500000    5910.500000
75%     19561.000000   19561.000000   19561.000000   19561.000000
max    250911.000000  250911.000000  250911.000000  250911.000000
Statistics for columns: GRADES_KG_G
         GRADES_KG_G    GRADES_KG_G    GRADES_KG_G    GRADES_KG_G
count    1492.000000    1492.000000    1492.000000    1492.000000
mean    59021.465818   59021.465818   59021.465818   59021.465818
std     78271.025323   78271.025323   78271.025323   78271.025323
min       544.000000     544.000000     544.000000     544.000000
25%      9926.750000    9926.750000    9926.750000    9926.750000
50%     38507.000000   38507.000000   38507.000000   38507.000000
75%     70748.750000   70748.750000   70748.750000   70748.750000
max    530531.000000  530531.000000  530531.000000  530531.000000
Statistics for columns: GRADES_4_G
          GRADES_4_G     GRADES_4_G     GRADES_4_G     GRADES_4_G
count    1492.000000    1492.000000    1492.000000    1492.000000
mean    59797.646113   59797.646113   59797.646113   59797.646113
std     78406.899202   78406.899202   78406.899202   78406.899202
min       633.000000     633.000000     633.000000     633.000000
25%     10117.250000   10117.250000   10117.250000   10117.250000
50%     38280.500000   38280.500000   38280.500000   38280.500000
75%     72310.250000   72310.250000   72310.250000   72310.250000
max    493415.000000  493415.000000  493415.000000  493415.000000
Statistics for columns: GRADES_8_G
          GRADES_8_G     GRADES_8_G     GRADES_8_G     GRADES_8_G
count    1492.000000    1492.000000    1492.000000    1492.000000
mean    59511.380027   59511.380027   59511.380027   59511.380027
std     77123.573668   77123.573668   77123.573668   77123.573668
min       437.000000     437.000000     437.000000     437.000000
25%     10252.000000   10252.000000   10252.000000   10252.000000
50%     38114.500000   38114.500000   38114.500000   38114.500000
75%     72598.250000   72598.250000   72598.250000   72598.250000
max    500143.000000  500143.000000  500143.000000  500143.000000
Statistics for columns: GRADES_12_G
         GRADES_12_G    GRADES_12_G    GRADES_12_G    GRADES_12_G
count    1492.000000    1492.000000    1492.000000    1492.000000
mean    50207.239276   50207.239276   50207.239276   50207.239276
std     66309.867155   66309.867155   66309.867155   66309.867155
min       311.000000     311.000000     311.000000     311.000000
25%      8951.000000    8951.000000    8951.000000    8951.000000
50%     33279.000000   33279.000000   33279.000000   33279.000000
75%     64920.500000   64920.500000   64920.500000   64920.500000
max    498403.000000  498403.000000  498403.000000  498403.000000
Statistics for columns: GRADES_1_8_G
       GRADES_1_8_G  GRADES_1_8_G  GRADES_1_8_G  GRADES_1_8_G
count  1.492000e+03  1.492000e+03  1.492000e+03  1.492000e+03
mean   4.810102e+05  4.810102e+05  4.810102e+05  4.810102e+05
std    6.286622e+05  6.286622e+05  6.286622e+05  6.286622e+05
min    4.878000e+03  4.878000e+03  4.878000e+03  4.878000e+03
25%    8.127325e+04  8.127325e+04  8.127325e+04  8.127325e+04
50%    3.097340e+05  3.097340e+05  3.097340e+05  3.097340e+05
75%    5.783400e+05  5.783400e+05  5.783400e+05  5.783400e+05
max    3.929869e+06  3.929869e+06  3.929869e+06  3.929869e+06
Statistics for columns: GRADES_9_12_G

       GRADES_9_12_G  GRADES_9_12_G  GRADES_9_12_G  GRADES_9_12_G
count   1.492000e+03   1.492000e+03   1.492000e+03   1.492000e+03
mean    2.286678e+05   2.286678e+05   2.286678e+05   2.286678e+05
std     3.005815e+05   3.005815e+05   3.005815e+05   3.005815e+05
min     1.808000e+03   1.808000e+03   1.808000e+03   1.808000e+03
25%     3.950675e+04   3.950675e+04   3.950675e+04   3.950675e+04
50%     1.472355e+05   1.472355e+05   1.472355e+05   1.472355e+05
75%     2.843505e+05   2.843505e+05   2.843505e+05   2.843505e+05
max     2.013687e+06   2.013687e+06   2.013687e+06   2.013687e+06
Statistics for columns: GRADES_ALL_G
       GRADES_ALL_G  GRADES_ALL_G  GRADES_ALL_G  GRADES_ALL_G
count  1.492000e+03  1.492000e+03  1.492000e+03  1.492000e+03
mean   7.478782e+05  7.478782e+05  7.478782e+05  7.478782e+05
std    9.291585e+05  9.291585e+05  9.291585e+05  9.291585e+05
min    7.254000e+03  7.254000e+03  7.254000e+03  7.254000e+03
25%    1.718665e+05  1.718665e+05  1.718665e+05  1.718665e+05
50%    4.591248e+05  4.591248e+05  4.591248e+05  4.591248e+05
75%    8.860948e+05  8.860948e+05  8.860948e+05  8.860948e+05
max    5.944746e+06  5.944746e+06  5.944746e+06  5.944746e+06