In [1]:
# importing packages we'll need
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
# reading the data set
df = pd.read_csv('african_crises.csv', low_memory=False)
# https://www.kaggle.com/chirin/africa-economic-banking-and-systemic-crisis-data/downloads/africa-economic-banking-and-systemic-crisis-data.zip/1

In [3]:
df.head()

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
0,1,DZA,Algeria,1870,1,0.052264,0,0,0.0,3.441456,0,0,0,crisis
1,1,DZA,Algeria,1871,0,0.052798,0,0,0.0,14.149140,0,0,0,no_crisis
2,1,DZA,Algeria,1872,0,0.052274,0,0,0.0,-3.718593,0,0,0,no_crisis
3,1,DZA,Algeria,1873,0,0.051680,0,0,0.0,11.203897,0,0,0,no_crisis
4,1,DZA,Algeria,1874,0,0.051308,0,0,0.0,-3.848561,0,0,0,no_crisis

In [4]:
df.dropna(inplace=True)

In [7]:
df.country.unique()

array(['Algeria', 'Angola', 'Central African Republic', 'Ivory Coast',
       'Egypt', 'Kenya', 'Mauritius', 'Morocco', 'Nigeria',
       'South Africa', 'Tunisia', 'Zambia', 'Zimbabwe'], dtype=object)

In [8]:
sadf = df.loc[df['country'] == 'South Africa']

In [9]:
sadf.head()

,case,cc3,country,year,systemic_crisis,exch_usd,domestic_debt_in_default,sovereign_external_debt_default,gdp_weighted_default,inflation_annual_cpi,independence,currency_crises,inflation_crises,banking_crisis
708,56,ZAF,South Africa,1900,0,0.20610,0,0,0.0,4.109589,0,0,0,no_crisis
709,56,ZAF,South Africa,1901,0,0.20450,0,0,0.0,9.204368,0,0,0,no_crisis
710,56,ZAF,South Africa,1902,0,0.20490,0,0,0.0,2.414286,0,0,0,no_crisis
711,56,ZAF,South Africa,1903,0,0.20470,0,0,0.0,-8.236853,0,0,0,no_crisis
712,56,ZAF,South Africa,1904,0,0.20455,0,0,0.0,-5.130349,0,0,0,no_crisis

In [10]:
from sklearn.linear_model import HuberRegressor
hr = HuberRegressor()

In [14]:
X = pd.DataFrame(sadf['inflation_annual_cpi'])

In [15]:
Y = list(sadf['exch_usd'])

In [16]:
hr.fit(X,Y)

HuberRegressor(alpha=0.0001, epsilon=1.35, fit_intercept=True, max_iter=100,
        tol=1e-05, warm_start=False)

In [17]:
print(hr.coef_)
print(hr.intercept_)
print(hr.score(X,Y))

[0.05157888]
0.3320454210773418
-0.139735814427151