In [1]:
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('ESSdata_Thinkful.csv', low_memory=False)

In [3]:
df.head()

,cntry,idno,year,tvtot,ppltrst,pplfair,pplhlp,happy,sclmeet,sclact,gndr,agea,partner
0,CH,5.0,6,3.0,3.0,10.0,5.0,8.0,5.0,4.0,2.0,60.0,1.0
1,CH,25.0,6,6.0,5.0,7.0,5.0,9.0,3.0,2.0,2.0,59.0,1.0
2,CH,26.0,6,1.0,8.0,8.0,8.0,7.0,6.0,3.0,1.0,24.0,2.0
3,CH,28.0,6,4.0,6.0,6.0,7.0,10.0,6.0,2.0,2.0,64.0,1.0
4,CH,29.0,6,5.0,6.0,7.0,5.0,8.0,7.0,2.0,2.0,55.0,1.0

In [4]:
df.cntry.unique()

array(['CH', 'CZ', 'DE', 'ES', 'NO', 'SE'], dtype=object)

In [5]:
df.year.unique()

array([6, 7], dtype=int64)

In [6]:
chdf = df.loc[df['cntry'] == 'CH']

In [7]:
czdf = df.loc[df['cntry'] == 'CZ']

In [8]:
dedf = df.loc[df['cntry'] == 'DE']

In [9]:
esdf = df.loc[df['cntry'] == 'ES']

In [10]:
nodf = df.loc[df['cntry'] == 'NO']

In [11]:
sedf = df.loc[df['cntry'] == 'SE']

## Question 1

In [12]:
chdf.groupby('year').ppltrst.mean()

year
6    5.677878
7    5.751617
Name: ppltrst, dtype: float64

In [13]:
czdf.groupby('year').ppltrst.mean()

year
6    4.362519
7    4.424658
Name: ppltrst, dtype: float64

In [14]:
dedf.groupby('year').ppltrst.mean()

year
6    5.214286
7    5.357143
Name: ppltrst, dtype: float64

In [15]:
esdf.groupby('year').ppltrst.mean()

year
6    5.114592
7    4.895128
Name: ppltrst, dtype: float64

In [16]:
nodf.groupby('year').ppltrst.mean()

year
6    6.649315
7    6.598630
Name: ppltrst, dtype: float64

In [17]:
sedf.groupby('year').ppltrst.mean()

year
6    6.058499
7    6.257709
Name: ppltrst, dtype: float64

People in Switzerland, Czech Republic, Germany, and Sweden became more trusting. People from Spain and Norway became less trusting.

## Question 2

In [18]:
chdf.groupby('year').happy.mean()

year
6    8.088312
7    8.116429
Name: happy, dtype: float64

In [19]:
czdf.groupby('year').happy.mean()

year
6    6.770898
7    6.914110
Name: happy, dtype: float64

In [20]:
dedf.groupby('year').happy.mean()

year
6    7.428571
7    7.857143
Name: happy, dtype: float64

In [21]:
esdf.groupby('year').happy.mean()

year
6    7.548680
7    7.419967
Name: happy, dtype: float64

In [22]:
nodf.groupby('year').happy.mean()

year
6    8.251719
7    7.915185
Name: happy, dtype: float64

In [23]:
sedf.groupby('year').happy.mean()

year
6    7.907387
7    7.946961
Name: happy, dtype: float64

People in Switzerland, Czech Republic, Germany, and Sweden became happier. People from Spain and Norway became less happy.

## Question 3

In [24]:
mendf = df.loc[df['gndr'] == 1]

In [25]:
womdf = df.loc[df['gndr'] == 2]

In [26]:
mendf = mendf.loc[mendf['year'] == 6]

In [27]:
womdf = womdf.loc[womdf['year'] == 6]

In [28]:
mendf.tvtot.mean()

3.901906090190609

In [29]:
womdf.tvtot.mean()

3.944392523364486

Women watched more TV than men in 2012.

## Question 4

In [30]:
df2012 = df.loc[df['year'] == 6]

In [31]:
df2012.groupby('partner').pplfair.mean()

partner
1.0    6.080736
2.0    5.856965
Name: pplfair, dtype: float64

People living with a partner rated other people as more fair.

## Question 5

In [32]:
chdf.groupby('year').sclmeet.mean()

year
6    5.080519
7    5.160622
Name: sclmeet, dtype: float64

In [33]:
czdf.groupby('year').sclmeet.mean()

year
6    4.648855
7    4.445802
Name: sclmeet, dtype: float64

In [34]:
dedf.groupby('year').sclmeet.mean()

year
6    5.000000
7    4.428571
Name: sclmeet, dtype: float64

People in Switzerland met socially more often than people in Germany and Czech Republic, which had almost the exact same frequency of meeting in 2014.

## Question 6

In [35]:
chdf = chdf.loc[chdf['year'] == 7]

In [36]:
czdf = czdf.loc[czdf['year'] == 7]

In [37]:
dedf = dedf.loc[dedf['year'] == 7]

In [38]:
chdf.groupby('agea').sclact.mean()

agea
16.0    3.272727
17.0    3.000000
18.0    3.000000
19.0    2.461538
20.0    2.785714
21.0    2.444444
22.0    3.300000
23.0    2.500000
24.0    4.000000
25.0    2.692308
26.0    3.000000
27.0    2.615385
28.0    2.555556
29.0    2.545455
30.0    3.333333
31.0    2.416667
32.0    2.900000
33.0    2.800000
34.0    2.785714
35.0    2.705882
36.0    2.850000
37.0    2.888889
38.0    2.666667
39.0    2.782609
40.0    2.600000
41.0    2.500000
42.0    2.666667
43.0    3.272727
44.0    2.700000
45.0    3.000000
          ...
59.0    3.222222
60.0    2.857143
61.0    2.800000
62.0    2.272727
63.0    2.538462
64.0    2.636364
65.0    2.857143
67.0    2.666667
68.0    2.857143
69.0    2.916667
70.0    2.625000
71.0    3.400000
72.0    2.800000
73.0    2.666667
74.0    3.000000
75.0    3.000000
76.0    2.500000
78.0    2.333333
79.0    3.250000
80.0    3.333333
81.0    2.666667
82.0    2.666667
83.0    2.666667
84.0    1.833333
85.0    2.500000
86.0    3.000000
87.0    2.000000
89.0    4.000000
91.0    2.500000
92.0    2.000000
Name: sclact, Length: 73, dtype: float64

In [39]:
czdf.groupby('agea').sclact.mean()

agea
15.0    4.000000
16.0    2.400000
17.0    2.750000
18.0    2.500000
19.0    3.625000
20.0    3.307692
21.0    3.000000
22.0    3.166667
23.0    2.555556
24.0    2.866667
25.0    2.714286
26.0    3.000000
27.0    3.000000
28.0    3.000000
29.0    3.000000
30.0    2.666667
31.0    2.666667
32.0    2.250000
33.0    2.300000
34.0    2.700000
35.0    2.647059
36.0    2.692308
37.0    2.909091
38.0    2.500000
39.0    2.714286
40.0    2.473684
41.0    2.875000
42.0    2.437500
43.0    2.315789
44.0    2.916667
          ...
52.0    2.166667
53.0    2.363636
54.0    2.571429
55.0    2.941176
56.0    2.500000
57.0    2.636364
58.0    3.000000
59.0    2.785714
60.0    2.500000
61.0    2.444444
62.0    3.200000
63.0    3.400000
64.0    2.769231
65.0    2.625000
67.0    3.000000
68.0    2.500000
69.0    2.888889
70.0    3.222222
71.0    2.500000
72.0    1.333333
73.0    2.750000
74.0    2.666667
75.0    2.666667
76.0    2.500000
78.0    1.000000
80.0    2.500000
81.0    4.000000
82.0    3.000000
84.0    3.000000
87.0    3.000000
Name: sclact, Length: 67, dtype: float64

In [40]:
dedf.groupby('agea').sclact.mean()

agea
36.0    3.0
41.0    3.0
49.0    3.0
52.0    3.0
54.0    3.0
56.0    3.0
57.0    2.0
65.0    3.0
67.0    3.0
71.0    2.0
85.0    1.0
89.0    3.0
Name: sclact, dtype: float64