In [1]:
# importing packages we'll need
import numpy as np
import pandas as pd
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from statsmodels.tools.eval_measures import mse, rmse
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn import linear_model

import warnings
warnings.filterwarnings('ignore')

In [2]:
# reading the data set
df = pd.read_csv('loan.csv', dtype = {'issue_d': str}, low_memory=False)
# https://www.kaggle.com/wendykan/lending-club-loan-data

In [3]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
list(df)

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Columns: 145 entries, id to settlement_term
dtypes: float64(71), int64(38), object(36)
memory usage: 1.1+ GB

In [6]:
df.nunique()

id                                                 0
member_id                                          0
loan_amnt                                       1561
funded_amnt                                     1561
funded_amnt_inv                                 1580
term                                               2
int_rate                                         255
installment                                    69186
grade                                              7
sub_grade                                         35
emp_title                                     233592
emp_length                                        11
home_ownership                                     4
annual_inc                                     52275
verification_status                                3
issue_d                                           27
loan_status                                        7
pymnt_plan                                         2
url                                                0
desc                                              24
purpose                                           13
title                                             15
zip_code                                         926
addr_state                                        50
dti                                             9676
delinq_2yrs                                       29
earliest_cr_line                                 717
inq_last_6mths                                     6
mths_since_last_delinq                           165
mths_since_last_record                           128
                                               ...
sec_app_open_acc                                  63
sec_app_revol_util                              1164
sec_app_open_act_il                               37
sec_app_num_rev_accts                             81
sec_app_chargeoff_within_12_mths                  21
sec_app_collections_12_mths_ex_med                17
sec_app_mths_since_last_major_derog              136
hardship_flag                                      2
hardship_type                                      1
hardship_reason                                    9
hardship_status                                    3
deferral_term                                      1
hardship_amount                                 5040
hardship_start_date                               26
hardship_end_date                                 27
payment_plan_start_date                           26
hardship_length                                    1
hardship_dpd                                      34
hardship_loan_status                               5
orig_projected_additional_accrued_interest      4011
hardship_payoff_balance_amount                  5596
hardship_last_payment_amount                    4902
disbursement_method                                2
debt_settlement_flag                               2
debt_settlement_flag_date                         33
settlement_status                                  3
settlement_date                                   35
settlement_amount                              11100
settlement_percentage                            788
settlement_term                                   34
Length: 145, dtype: int64

In [7]:
df.isnull().sum()*100/df.isnull().count()

id                                            100.000000
member_id                                     100.000000
loan_amnt                                       0.000000
funded_amnt                                     0.000000
funded_amnt_inv                                 0.000000
term                                            0.000000
int_rate                                        0.000000
installment                                     0.000000
grade                                           0.000000
sub_grade                                       0.000000
emp_title                                       8.625420
emp_length                                      7.387645
home_ownership                                  0.000000
annual_inc                                      0.000000
verification_status                             0.000000
issue_d                                         0.000000
loan_status                                     0.000000
pymnt_plan                                      0.000000
url                                           100.000000
desc                                           99.997139
purpose                                         0.000000
title                                           2.222540
zip_code                                        0.000000
addr_state                                      0.000000
dti                                             0.114155
delinq_2yrs                                     0.000000
earliest_cr_line                                0.000000
inq_last_6mths                                  0.000095
mths_since_last_delinq                         51.381732
mths_since_last_record                         84.068092
                                                 ...
sec_app_open_acc                               93.421071
sec_app_revol_util                             93.535226
sec_app_open_act_il                            93.421071
sec_app_num_rev_accts                          93.421071
sec_app_chargeoff_within_12_mths               93.421071
sec_app_collections_12_mths_ex_med             93.421071
sec_app_mths_since_last_major_derog            97.865961
hardship_flag                                   0.000000
hardship_type                                  99.465847
hardship_reason                                99.465847
hardship_status                                99.465847
deferral_term                                  99.465847
hardship_amount                                99.465847
hardship_start_date                            99.465847
hardship_end_date                              99.465847
payment_plan_start_date                        99.465847
hardship_length                                99.465847
hardship_dpd                                   99.465847
hardship_loan_status                           99.465847
orig_projected_additional_accrued_interest     99.583816
hardship_payoff_balance_amount                 99.465847
hardship_last_payment_amount                   99.465847
disbursement_method                             0.000000
debt_settlement_flag                            0.000000
debt_settlement_flag_date                      98.589038
settlement_status                              98.589038
settlement_date                                98.589038
settlement_amount                              98.589038
settlement_percentage                          98.589038
settlement_term                                98.589038
Length: 145, dtype: float64

In [8]:
df['dti'].corr(df['int_rate'])

0.13085444536568852

In [9]:
df_num = df.select_dtypes(exclude=['object'])
df_num.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,url,dti,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,13.56,84.92,55000.0,NaN,18.24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,18.94,777.23,90000.0,NaN,26.52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,17.97,180.69,59280.0,NaN,10.51,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,18.94,146.51,92000.0,NaN,16.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,16.14,731.78,57250.0,NaN,26.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
col_names = list(df_num)

In [11]:
for i in col_names:
    print("{} and interest rate correlation is {}".format(i, df_num[i].corr(df_num['int_rate'])))

id and interest rate correlation is nan
member_id and interest rate correlation is nan
loan_amnt and interest rate correlation is 0.06697226362378149
funded_amnt and interest rate correlation is 0.06697357995593946
funded_amnt_inv and interest rate correlation is 0.06694671610251973
int_rate and interest rate correlation is 0.9999999999999998
installment and interest rate correlation is 0.10159058867491691
annual_inc and interest rate correlation is -0.07336469442038507
url and interest rate correlation is nan
dti and interest rate correlation is 0.13085444536568852
delinq_2yrs and interest rate correlation is 0.062226268767203115
inq_last_6mths and interest rate correlation is 0.16274004714640447
mths_since_last_delinq and interest rate correlation is -0.051079784413263
mths_since_last_record and interest rate correlation is -0.018507672738113087
open_acc and interest rate correlation is -0.012564465436055211
pub_rec and interest rate correlation is 0.051749037607456215
revol_bal and interest rate correlation is -0.03632037315922344
revol_util and interest rate correlation is 0.24721626880370057
total_acc and interest rate correlation is -0.045075764758149776
out_prncp and interest rate correlation is 0.03750869061825761
out_prncp_inv and interest rate correlation is 0.03753501130796804
total_pymnt and interest rate correlation is 0.045871802246142075
total_pymnt_inv and interest rate correlation is 0.045835297437169194
total_rec_prncp and interest rate correlation is -0.061247265895484536
total_rec_int and interest rate correlation is 0.37301948801313434
total_rec_late_fee and interest rate correlation is 0.06071676375108787
recoveries and interest rate correlation is 0.12325733918878794
collection_recovery_fee and interest rate correlation is 0.12140202120415987
last_pymnt_amnt and interest rate correlation is 0.056979123360535774
collections_12_mths_ex_med and interest rate correlation is 0.020831733940865783
mths_since_last_major_derog and interest rate correlation is -0.03995534939376981
policy_code and interest rate correlation is nan
annual_inc_joint and interest rate correlation is -0.12014916443561832
dti_joint and interest rate correlation is 0.2262957387843996
acc_now_delinq and interest rate correlation is 0.009393894892056021
tot_coll_amt and interest rate correlation is 0.005355187912079909
tot_cur_bal and interest rate correlation is -0.08175852410202644
open_acc_6m and interest rate correlation is 0.13614438284940675
open_act_il and interest rate correlation is 0.04071508214085312
open_il_12m and interest rate correlation is 0.16258681050002674
open_il_24m and interest rate correlation is 0.15490519773738004
mths_since_rcnt_il and interest rate correlation is -0.09549040817731055
total_bal_il and interest rate correlation is 0.04141974234424632
il_util and interest rate correlation is 0.14370710489644667
open_rv_12m and interest rate correlation is 0.11334552003092069
open_rv_24m and interest rate correlation is 0.11801192885989092
max_bal_bc and interest rate correlation is -0.06633084071401478
all_util and interest rate correlation is 0.294212236306187
total_rev_hi_lim and interest rate correlation is -0.19689860388653718
inq_fi and interest rate correlation is 0.1332173736009757
total_cu_tl and interest rate correlation is 0.009222936905557939
inq_last_12m and interest rate correlation is 0.1626538733957755
acc_open_past_24mths and interest rate correlation is 0.16905627754725036
avg_cur_bal and interest rate correlation is -0.07997049715499184
bc_open_to_buy and interest rate correlation is -0.29445900304419087
bc_util and interest rate correlation is 0.2655132096242929
chargeoff_within_12_mths and interest rate correlation is 0.014882793299864413
delinq_amnt and interest rate correlation is 0.004702262513442652
mo_sin_old_il_acct and interest rate correlation is -0.05901086115238439
mo_sin_old_rev_tl_op and interest rate correlation is -0.13870113564647574
mo_sin_rcnt_rev_tl_op and interest rate correlation is -0.08179553759182864
mo_sin_rcnt_tl and interest rate correlation is -0.10594180946673927
mort_acc and interest rate correlation is -0.10944894835979357
mths_since_recent_bc and interest rate correlation is -0.07142756849435838
mths_since_recent_bc_dlq and interest rate correlation is -0.028622773137799845
mths_since_recent_inq and interest rate correlation is -0.12913142636183594
mths_since_recent_revol_delinq and interest rate correlation is -0.03201018107862083
num_accts_ever_120_pd and interest rate correlation is 0.0568783300044486
num_actv_bc_tl and interest rate correlation is 0.012294398948339705
num_actv_rev_tl and interest rate correlation is 0.06804475093968496
num_bc_sats and interest rate correlation is -0.0690519891846358
num_bc_tl and interest rate correlation is -0.10220589530171602
num_il_tl and interest rate correlation is 0.03079077691428382
num_op_rev_tl and interest rate correlation is -0.026581666058054818
num_rev_accts and interest rate correlation is -0.07053991273875715
num_rev_tl_bal_gt_0 and interest rate correlation is 0.0672386681569354
num_sats and interest rate correlation is -0.012877588023686484
num_tl_120dpd_2m and interest rate correlation is 0.00445788841031522
num_tl_30dpd and interest rate correlation is 0.0076461134808232575
num_tl_90g_dpd_24m and interest rate correlation is 0.036412332769207335
num_tl_op_past_12m and interest rate correlation is 0.17431156194530506
pct_tl_nvr_dlq and interest rate correlation is -0.0853981778107211
percent_bc_gt_75 and interest rate correlation is 0.26006822399879137
pub_rec_bankruptcies and interest rate correlation is 0.0567263245320759
tax_liens and interest rate correlation is 0.012169225115138417
tot_hi_cred_lim and interest rate correlation is -0.12097652278115802
total_bal_ex_mort and interest rate correlation is 0.01949938321886642
total_bc_limit and interest rate correlation is -0.2406572508646916
total_il_high_credit_limit and interest rate correlation is 0.016590186986687874
revol_bal_joint and interest rate correlation is 0.008327321369464628
sec_app_inq_last_6mths and interest rate correlation is 0.09393528043724632
sec_app_mort_acc and interest rate correlation is -0.1319808973882018
sec_app_open_acc and interest rate correlation is -0.030107245027945
sec_app_revol_util and interest rate correlation is 0.26157040284740857
sec_app_open_act_il and interest rate correlation is 0.029143980503464763
sec_app_num_rev_accts and interest rate correlation is -0.07847504229916132
sec_app_chargeoff_within_12_mths and interest rate correlation is 0.02720860019555037
sec_app_collections_12_mths_ex_med and interest rate correlation is 0.05299538019603627
sec_app_mths_since_last_major_derog and interest rate correlation is -0.08018136153682377
deferral_term and interest rate correlation is nan
hardship_amount and interest rate correlation is 0.636597483126777
hardship_length and interest rate correlation is nan
hardship_dpd and interest rate correlation is 0.09377878306813235
orig_projected_additional_accrued_interest and interest rate correlation is 0.627249351707302
hardship_payoff_balance_amount and interest rate correlation is 0.2942769519499336
hardship_last_payment_amount and interest rate correlation is 0.20235405159082445
settlement_amount and interest rate correlation is 0.33706605149320507
settlement_percentage and interest rate correlation is 0.007326499933002718
settlement_term and interest rate correlation is 0.1616067486838539

In [12]:
corr_list = []
for i in col_names:
    corr_list.append(df_num[i].corr(df_num['int_rate']))

In [13]:
corr_list

[nan,
 nan,
 0.06697226362378149,
 0.06697357995593946,
 0.06694671610251973,
 0.9999999999999998,
 0.10159058867491691,
 -0.07336469442038507,
 nan,
 0.13085444536568852,
 0.062226268767203115,
 0.16274004714640447,
 -0.051079784413263,
 -0.018507672738113087,
 -0.012564465436055211,
 0.051749037607456215,
 -0.03632037315922344,
 0.24721626880370057,
 -0.045075764758149776,
 0.03750869061825761,
 0.03753501130796804,
 0.045871802246142075,
 0.045835297437169194,
 -0.061247265895484536,
 0.37301948801313434,
 0.06071676375108787,
 0.12325733918878794,
 0.12140202120415987,
 0.056979123360535774,
 0.020831733940865783,
 -0.03995534939376981,
 nan,
 -0.12014916443561832,
 0.2262957387843996,
 0.009393894892056021,
 0.005355187912079909,
 -0.08175852410202644,
 0.13614438284940675,
 0.04071508214085312,
 0.16258681050002674,
 0.15490519773738004,
 -0.09549040817731055,
 0.04141974234424632,
 0.14370710489644667,
 0.11334552003092069,
 0.11801192885989092,
 -0.06633084071401478,
 0.294212236306187,
 -0.19689860388653718,
 0.1332173736009757,
 0.009222936905557939,
 0.1626538733957755,
 0.16905627754725036,
 -0.07997049715499184,
 -0.29445900304419087,
 0.2655132096242929,
 0.014882793299864413,
 0.004702262513442652,
 -0.05901086115238439,
 -0.13870113564647574,
 -0.08179553759182864,
 -0.10594180946673927,
 -0.10944894835979357,
 -0.07142756849435838,
 -0.028622773137799845,
 -0.12913142636183594,
 -0.03201018107862083,
 0.0568783300044486,
 0.012294398948339705,
 0.06804475093968496,
 -0.0690519891846358,
 -0.10220589530171602,
 0.03079077691428382,
 -0.026581666058054818,
 -0.07053991273875715,
 0.0672386681569354,
 -0.012877588023686484,
 0.00445788841031522,
 0.0076461134808232575,
 0.036412332769207335,
 0.17431156194530506,
 -0.0853981778107211,
 0.26006822399879137,
 0.0567263245320759,
 0.012169225115138417,
 -0.12097652278115802,
 0.01949938321886642,
 -0.2406572508646916,
 0.016590186986687874,
 0.008327321369464628,
 0.09393528043724632,
 -0.1319808973882018,
 -0.030107245027945,
 0.26157040284740857,
 0.029143980503464763,
 -0.07847504229916132,
 0.02720860019555037,
 0.05299538019603627,
 -0.08018136153682377,
 nan,
 0.636597483126777,
 nan,
 0.09377878306813235,
 0.627249351707302,
 0.2942769519499336,
 0.20235405159082445,
 0.33706605149320507,
 0.007326499933002718,
 0.1616067486838539]

In [14]:
new_df = pd.DataFrame()

In [15]:
new_df['term'] = col_names
new_df['corr'] = corr_list
new_df.head()

              term      corr
0               id       NaN
1        member_id       NaN
2        loan_amnt  0.066972
3      funded_amnt  0.066974
4  funded_amnt_inv  0.066947

In [16]:
new_df.sort_values(by=['corr'], ascending=False)

                                           term      corr
5                                      int_rate  1.000000
100                             hardship_amount  0.636597
103  orig_projected_additional_accrued_interest  0.627249
24                                total_rec_int  0.373019
106                           settlement_amount  0.337066
104              hardship_payoff_balance_amount  0.294277
47                                     all_util  0.294212
55                                      bc_util  0.265513
93                           sec_app_revol_util  0.261570
82                             percent_bc_gt_75  0.260068
17                                   revol_util  0.247216
33                                    dti_joint  0.226296
105                hardship_last_payment_amount  0.202354
80                           num_tl_op_past_12m  0.174312
52                         acc_open_past_24mths  0.169056
11                               inq_last_6mths  0.162740
51                                 inq_last_12m  0.162654
39                                  open_il_12m  0.162587
108                             settlement_term  0.161607
40                                  open_il_24m  0.154905
43                                      il_util  0.143707
37                                  open_acc_6m  0.136144
49                                       inq_fi  0.133217
9                                           dti  0.130854
26                                   recoveries  0.123257
27                      collection_recovery_fee  0.121402
45                                  open_rv_24m  0.118012
44                                  open_rv_12m  0.113346
6                                   installment  0.101591
90                       sec_app_inq_last_6mths  0.093935
..                                          ...       ...
23                              total_rec_prncp -0.061247
46                                   max_bal_bc -0.066331
70                                  num_bc_sats -0.069052
74                                num_rev_accts -0.070540
63                         mths_since_recent_bc -0.071428
7                                    annual_inc -0.073365
95                        sec_app_num_rev_accts -0.078475
53                                  avg_cur_bal -0.079970
98          sec_app_mths_since_last_major_derog -0.080181
36                                  tot_cur_bal -0.081759
60                        mo_sin_rcnt_rev_tl_op -0.081796
81                               pct_tl_nvr_dlq -0.085398
41                           mths_since_rcnt_il -0.095490
71                                    num_bc_tl -0.102206
61                               mo_sin_rcnt_tl -0.105942
62                                     mort_acc -0.109449
32                             annual_inc_joint -0.120149
85                              tot_hi_cred_lim -0.120977
65                        mths_since_recent_inq -0.129131
91                             sec_app_mort_acc -0.131981
59                         mo_sin_old_rev_tl_op -0.138701
48                             total_rev_hi_lim -0.196899
87                               total_bc_limit -0.240657
54                               bc_open_to_buy -0.294459
0                                            id       NaN
1                                     member_id       NaN
8                                           url       NaN
31                                  policy_code       NaN
99                                deferral_term       NaN
101                             hardship_length       NaN

[109 rows x 2 columns]

In [17]:
df_obj = df.select_dtypes(include=['object'])
list(df_obj)

['term',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'earliest_cr_line',
 'initial_list_status',
 'last_pymnt_d',
 'next_pymnt_d',
 'last_credit_pull_d',
 'application_type',
 'verification_status_joint',
 'sec_app_earliest_cr_line',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_loan_status',
 'disbursement_method',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date']

In [18]:
manual_feat_list = ['int_rate', 'all_util', 'percent_bc_gt_75', 'dti_joint', 'num_tl_op_past_12m', 'inq_last_6mths', 'open_il_12m', 'bc_open_to_buy', 'total_bc_limit', 'mo_sin_old_rev_tl_op', 'sec_app_mort_acc', 'annual_inc_joint', 'pub_rec_bankruptcies', 'term', 'sub_grade', 'home_ownership']

In [19]:
bulk_feat_list = ['int_rate', 'all_util', 'bc_util', 'percent_bc_gt_75', 'revol_util', 'dti_joint', 'num_tl_op_past_12m', 'inq_last_6mths', 'inq_last_12m', 'open_il_12m', 'open_il_24m', 'il_util', 'open_acc_6m', 'inq_fi', 'dti', 'open_rv_24m', 'open_rv_12m', 'sec_app_inq_last_6mths', 'bc_open_to_buy', 'total_bc_limit', 'total_rev_hi_lim', 'mo_sin_old_rev_tl_op', 'sec_app_mort_acc', 'mths_since_recent_inq', 'tot_hi_cred_lim', 'annual_inc_joint', 'mort_acc', 'mo_sin_rcnt_tl', 'mths_since_rcnt_il', 'num_bc_tl', 'pct_tl_nvr_dlq', 'mo_sin_rcnt_rev_tl_op', 'tot_cur_bal', 'sec_app_mths_since_last_major_derog', 'avg_cur_bal', 'sec_app_num_rev_accts', 'annual_inc', 'mths_since_recent_bc', 'num_rev_accts', 'num_bc_sats', 'max_bal_bc', 'pub_rec_bankruptcies', 'term', 'sub_grade', 'home_ownership', 'emp_length', 'purpose', 'earliest_cr_line']

In [20]:
man_df = pd.DataFrame()
man_df = df.filter(items=manual_feat_list)
man_df.head()

,int_rate,all_util,percent_bc_gt_75,dti_joint,num_tl_op_past_12m,inq_last_6mths,open_il_12m,bc_open_to_buy,total_bc_limit,mo_sin_old_rev_tl_op,sec_app_mort_acc,annual_inc_joint,pub_rec_bankruptcies,term,sub_grade,home_ownership
0,13.56,28.0,0.0,NaN,3,1.0,1.0,34360.0,36500,212,NaN,NaN,1,36 months,C1,RENT
1,18.94,57.0,0.0,NaN,6,0.0,2.0,13761.0,15000,378,NaN,NaN,1,60 months,D2,MORTGAGE
2,17.97,35.0,0.0,NaN,0,0.0,0.0,13800.0,13800,92,NaN,NaN,0,36 months,D1,MORTGAGE
3,18.94,70.0,100.0,NaN,3,0.0,3.0,1239.0,5000,154,NaN,NaN,0,36 months,D2,MORTGAGE
4,16.14,54.0,0.0,NaN,5,0.0,3.0,8471.0,9300,216,NaN,NaN,0,60 months,C4,MORTGAGE

In [21]:
bulk_df = pd.DataFrame()
bulk_df = df.filter(items=bulk_feat_list)
bulk_df.head()

,int_rate,all_util,bc_util,percent_bc_gt_75,revol_util,dti_joint,num_tl_op_past_12m,inq_last_6mths,inq_last_12m,open_il_12m,...,num_rev_accts,num_bc_sats,max_bal_bc,pub_rec_bankruptcies,term,sub_grade,home_ownership,emp_length,purpose,earliest_cr_line
0,13.56,28.0,5.9,0.0,10.3,NaN,3,1.0,2.0,1.0,...,18.0,3,2137.0,1,36 months,C1,RENT,10+ years,debt_consolidation,Apr-01
1,18.94,57.0,8.3,0.0,24.2,NaN,6,0.0,2.0,2.0,...,14.0,4,998.0,1,60 months,D2,MORTGAGE,10+ years,debt_consolidation,Jun-87
2,17.97,35.0,0.0,0.0,19.1,NaN,0,0.0,0.0,0.0,...,7.0,3,0.0,0,36 months,D1,MORTGAGE,6 years,debt_consolidation,Apr-11
3,18.94,70.0,75.2,100.0,78.1,NaN,3,0.0,3.0,3.0,...,3.0,1,3761.0,0,36 months,D2,MORTGAGE,10+ years,debt_consolidation,Feb-06
4,16.14,54.0,8.9,0.0,3.6,NaN,5,0.0,0.0,3.0,...,15.0,3,516.0,0,60 months,C4,MORTGAGE,10+ years,debt_consolidation,Dec-00

In [22]:
bulk_df.isnull().sum()*100/bulk_df.isnull().count()

int_rate                                0.000000
all_util                                9.323797
bc_util                                 1.225950
percent_bc_gt_75                        1.193620
revol_util                              0.085926
dti_joint                              92.534535
num_tl_op_past_12m                      0.000000
inq_last_6mths                          0.000095
inq_last_12m                            9.309396
open_il_12m                             9.309301
open_il_24m                             9.309301
il_util                                22.749160
open_acc_6m                             9.309396
inq_fi                                  9.309301
dti                                     0.114155
open_rv_24m                             9.309301
open_rv_12m                             9.309301
sec_app_inq_last_6mths                 93.421071
bc_open_to_buy                          1.180078
total_bc_limit                          0.000000
total_rev_hi_lim                        0.000000
mo_sin_old_rev_tl_op                    0.000000
sec_app_mort_acc                       93.421071
mths_since_recent_inq                  11.396705
tot_hi_cred_lim                         0.000000
annual_inc_joint                       92.534153
mort_acc                                0.000000
mo_sin_rcnt_tl                          0.000000
mths_since_rcnt_il                     12.234127
num_bc_tl                               0.000000
pct_tl_nvr_dlq                          0.000191
mo_sin_rcnt_rev_tl_op                   0.000000
tot_cur_bal                             0.000000
sec_app_mths_since_last_major_derog    97.865961
avg_cur_bal                             0.003815
sec_app_num_rev_accts                  93.421071
annual_inc                              0.000000
mths_since_recent_bc                    1.114179
num_rev_accts                           0.000095
num_bc_sats                             0.000000
max_bal_bc                              9.309301
pub_rec_bankruptcies                    0.000000
term                                    0.000000
sub_grade                               0.000000
home_ownership                          0.000000
emp_length                              7.387645
purpose                                 0.000000
earliest_cr_line                        0.000000
dtype: float64

In [23]:
man_df = pd.concat([man_df, pd.get_dummies(man_df['term'], drop_first=True)], axis=1)

In [24]:
man_df.head()

,int_rate,all_util,percent_bc_gt_75,dti_joint,num_tl_op_past_12m,inq_last_6mths,open_il_12m,bc_open_to_buy,total_bc_limit,mo_sin_old_rev_tl_op,sec_app_mort_acc,annual_inc_joint,pub_rec_bankruptcies,term,sub_grade,home_ownership,60 months
0,13.56,28.0,0.0,NaN,3,1.0,1.0,34360.0,36500,212,NaN,NaN,1,36 months,C1,RENT,0
1,18.94,57.0,0.0,NaN,6,0.0,2.0,13761.0,15000,378,NaN,NaN,1,60 months,D2,MORTGAGE,1
2,17.97,35.0,0.0,NaN,0,0.0,0.0,13800.0,13800,92,NaN,NaN,0,36 months,D1,MORTGAGE,0
3,18.94,70.0,100.0,NaN,3,0.0,3.0,1239.0,5000,154,NaN,NaN,0,36 months,D2,MORTGAGE,0
4,16.14,54.0,0.0,NaN,5,0.0,3.0,8471.0,9300,216,NaN,NaN,0,60 months,C4,MORTGAGE,1

In [25]:
man_df = pd.concat([man_df, pd.get_dummies(man_df['home_ownership'], drop_first=True)], axis=1)

In [26]:
man_df = pd.concat([man_df, pd.get_dummies(man_df['sub_grade'], drop_first=True)], axis=1)

In [27]:
man_df.head()

,int_rate,all_util,percent_bc_gt_75,dti_joint,num_tl_op_past_12m,inq_last_6mths,open_il_12m,bc_open_to_buy,total_bc_limit,mo_sin_old_rev_tl_op,...,F1,F2,F3,F4,F5,G1,G2,G3,G4,G5
0,13.56,28.0,0.0,NaN,3,1.0,1.0,34360.0,36500,212,...,0,0,0,0,0,0,0,0,0,0
1,18.94,57.0,0.0,NaN,6,0.0,2.0,13761.0,15000,378,...,0,0,0,0,0,0,0,0,0,0
2,17.97,35.0,0.0,NaN,0,0.0,0.0,13800.0,13800,92,...,0,0,0,0,0,0,0,0,0,0
3,18.94,70.0,100.0,NaN,3,0.0,3.0,1239.0,5000,154,...,0,0,0,0,0,0,0,0,0,0
4,16.14,54.0,0.0,NaN,5,0.0,3.0,8471.0,9300,216,...,0,0,0,0,0,0,0,0,0,0

In [28]:
man_df = man_df.drop('sub_grade', 1)
man_df = man_df.drop('home_ownership', 1)
man_df = man_df.drop('term', 1)

In [29]:
man_df.head()

,int_rate,all_util,percent_bc_gt_75,dti_joint,num_tl_op_past_12m,inq_last_6mths,open_il_12m,bc_open_to_buy,total_bc_limit,mo_sin_old_rev_tl_op,...,F1,F2,F3,F4,F5,G1,G2,G3,G4,G5
0,13.56,28.0,0.0,NaN,3,1.0,1.0,34360.0,36500,212,...,0,0,0,0,0,0,0,0,0,0
1,18.94,57.0,0.0,NaN,6,0.0,2.0,13761.0,15000,378,...,0,0,0,0,0,0,0,0,0,0
2,17.97,35.0,0.0,NaN,0,0.0,0.0,13800.0,13800,92,...,0,0,0,0,0,0,0,0,0,0
3,18.94,70.0,100.0,NaN,3,0.0,3.0,1239.0,5000,154,...,0,0,0,0,0,0,0,0,0,0
4,16.14,54.0,0.0,NaN,5,0.0,3.0,8471.0,9300,216,...,0,0,0,0,0,0,0,0,0,0

In [34]:
man_df.fillna(0, inplace=True)

In [35]:
man_df.head()

,int_rate,all_util,percent_bc_gt_75,dti_joint,num_tl_op_past_12m,inq_last_6mths,open_il_12m,bc_open_to_buy,total_bc_limit,mo_sin_old_rev_tl_op,...,F1,F2,F3,F4,F5,G1,G2,G3,G4,G5
0,13.56,28.0,0.0,0.0,3,1.0,1.0,34360.0,36500,212,...,0,0,0,0,0,0,0,0,0,0
1,18.94,57.0,0.0,0.0,6,0.0,2.0,13761.0,15000,378,...,0,0,0,0,0,0,0,0,0,0
2,17.97,35.0,0.0,0.0,0,0.0,0.0,13800.0,13800,92,...,0,0,0,0,0,0,0,0,0,0
3,18.94,70.0,100.0,0.0,3,0.0,3.0,1239.0,5000,154,...,0,0,0,0,0,0,0,0,0,0
4,16.14,54.0,0.0,0.0,5,0.0,3.0,8471.0,9300,216,...,0,0,0,0,0,0,0,0,0,0

In [30]:
bulk_df = pd.concat([bulk_df, pd.get_dummies(bulk_df['earliest_cr_line'], drop_first=True)], axis=1)
bulk_df = pd.concat([bulk_df, pd.get_dummies(bulk_df['purpose'], drop_first=True)], axis=1)
bulk_df = pd.concat([bulk_df, pd.get_dummies(bulk_df['emp_length'], drop_first=True)], axis=1)
bulk_df = pd.concat([bulk_df, pd.get_dummies(bulk_df['home_ownership'], drop_first=True)], axis=1)
bulk_df = pd.concat([bulk_df, pd.get_dummies(bulk_df['term'], drop_first=True)], axis=1)
bulk_df = pd.concat([bulk_df, pd.get_dummies(bulk_df['sub_grade'], drop_first=True)], axis=1)

In [31]:
bulk_df = bulk_df.drop('sub_grade', 1)
bulk_df = bulk_df.drop('term', 1)
bulk_df = bulk_df.drop('home_ownership', 1)
bulk_df = bulk_df.drop('emp_length', 1)
bulk_df = bulk_df.drop('purpose', 1)
bulk_df = bulk_df.drop('earliest_cr_line', 1)

In [32]:
bulk_df.head()

,int_rate,all_util,bc_util,percent_bc_gt_75,revol_util,dti_joint,num_tl_op_past_12m,inq_last_6mths,inq_last_12m,open_il_12m,...,F1,F2,F3,F4,F5,G1,G2,G3,G4,G5
0,13.56,28.0,5.9,0.0,10.3,NaN,3,1.0,2.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,18.94,57.0,8.3,0.0,24.2,NaN,6,0.0,2.0,2.0,...,0,0,0,0,0,0,0,0,0,0
2,17.97,35.0,0.0,0.0,19.1,NaN,0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,18.94,70.0,75.2,100.0,78.1,NaN,3,0.0,3.0,3.0,...,0,0,0,0,0,0,0,0,0,0
4,16.14,54.0,8.9,0.0,3.6,NaN,5,0.0,0.0,3.0,...,0,0,0,0,0,0,0,0,0,0

## OLS- Manual Features

In [38]:
# Y is the target variable
Y = man_df['int_rate']
# X is the feature set
X = man_df.iloc[:, 1:]
# We create a LinearRegression model object
# from scikit-learn's linear_model module.
lrm = linear_model.LinearRegression()

# fit method estimates the coefficients using OLS
lrm.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)